@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Variables SCSS converties directement en valeurs CSS */
:root {
  --border-radius: 15px;
  --white: #ffffff;
  --black: #333;
  --color-1: rgba(1, 1, 1, 1);
  --orange: #e1650d;
  --quelque-chose: rgb(231, 206, 84);
  --font-primary: "Inter", sans-serif;
}

/* Styles globaux */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: var(--font-primary);
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* Barre de défilement */
::-webkit-scrollbar {
  width: 8px; /* Largeur de la barre de défilement verticale */
  height: 8px; /* Hauteur de la barre de défilement horizontale */
}

::-webkit-scrollbar-track {
  background: transparent; /* Couleur de fond transparente pour masquer la piste */
  border-radius: 10px; /* Arrondir les coins de la piste */
  border: none; /* Supprimer la bordure de la piste */
  box-shadow: none; /* Supprimer toute ombre sur la piste */
}

::-webkit-scrollbar-thumb {
  background: var(--black); /* Couleur de la poignée de défilement */
  border-radius: 10px; /* Arrondir les coins de la poignée */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black); /* Couleur de la poignée lors du survol */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* Pour la mixin `verticalCenter`, voici une classe CSS */
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

